.card {
    cursor: pointer; position: relative; overflow: hidden; transition: var(--transitionAll) !important; box-shadow: var(--box-shadow); border: 10px solid #fff;
    .card-img {
        position: relative; background: rgba(#fff, 0.5) no-repeat center/cover; min-height: 200px; transition: all 0.35s;
        // @media (min-width: $md) {
        //     min-height: 300px;
        // }
        &:after {
            content: ""; position: absolute; background-color: rgba(#000, 0.5); opacity: 0; transition: all 0.35s; width: 100%; height: 100%; left: 0; top: 0;
        }
    }
    .card-text {
        padding: calc(var(--spacing) / 2);
        width: 100%;
        transform: translate3d(0,0,0);
        transition: all 0.35s;
        background-color: var(--logo-color-2-trans);
        position: absolute;
        bottom: 0;
        color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 86px;

        .card-title {
            line-height: 1.4; width: 100%; text-align: center; font-weight: 300; font-size: 22px; font-family: var(--font-family);
        }

        .card-author {
            font-size: 14px; font-style: italic;
        }

        .card-desc {
            transition: all 0.35s; position: absolute; opacity: 1; bottom: 100%; color: #fff; width: 100%; left: 0; padding: calc(var(--spacing) / 2);
        }
    }
    &:hover {
        box-shadow: var(--box-shadow-hover);

        .card-img {
            // filter: blur(1px); transform: scale(1.05);
            // filter: brightness(1.2);
            &:after {
                opacity: 0;
            }
        }
        .card-text {
            height: 100%;
        }
        .card-title { text-align: center; }
        .card-desc {
            opacity: 0; bottom: 250%; 
        }
    }
}

html[data-theme="dark"] {
    .card {
        border-color: #222;
        .card-img {
            // filter: saturate(0.3) sepia(0.5) contrast(120%) brightness(1);
        }
        &:hover {
            .card-img {
                filter: saturate(0.3) sepia(0.5) contrast(120%) brightness(1.2);
            }
        }
        .card-text {
            background-color: rgba(var(--logo-color-2-rgb), 0.67);
        }
    }
}
