.page-title-container {
	background: no-repeat center/cover;
	margin-bottom: 50px;
	.container {
		padding-top: 130px;
		padding-bottom: 70px;
	}
	#page-title {
		color: #fff; line-height: 1.2; font-weight: 400; text-transform: uppercase; text-align: center; flex: 1;
	}
}