.page-title-container {
	background: no-repeat center/cover;
	margin-bottom: 50px;
	.container {
		padding-top: 130px; padding-bottom: 70px; display: flex; justify-content: center;
	}
	#page-title {
		color: #fff; line-height: 1.2; font-weight: 400; text-transform: uppercase; text-align: center; display: inline-flex; padding: var(--spacingSm) var(--spacing);
		background-color: var(--logo-color-2);
	}
}
