.page-title-container {
	background: no-repeat center/cover;
	margin-bottom: 50px;
	.container {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	#page-title {
		color: #fff;
		line-height: 1.2;
	}
	#page-content {
    	text-align: justify;
	}
}