#home {
    overflow-x: hidden;

    .section-full {
        --heightAdjustment: 100px;
        width: 100%;
        height: 100vh;
        position: relative;
        padding-inline-start: var(--spacing);
        padding-inline-end: var(--spacing);
        &.full-img {
            background: no-repeat center/cover fixed; color: #fff;
            transition: all var(--transition-time) var(--transition-ease);
            &:after { 
                content: ""; display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 0;
                transition: all var(--transition-time) var(--transition-ease);
            }
        }
    }
    #welcome {
        display: flex; align-items: center; justify-content: center; padding-top: var(--headerHeight); padding-bottom: 0 !important; text-transform: uppercase;
        &.full-img {
            background-image: url(../assets/img/constantine-bridge-sm.jpg);
            @media (min-width: $sm) {
                background-image: url(../assets/img/constantine-bridge-lg.jpg);
            }
            &:after {
                background: linear-gradient(to top, #fff 0%, #fff 15%, #ffffff55 100%);
            }
        }
        .section-content {
            // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
            // font-size: calc(30px + 20 * ((100vw - 320px) / 1680));
            --titleSpacing: 1.5vw;
            text-align: center; width: 100%; position: relative; z-index: 1;
            .icon-home-main {
                --iconMainSize: 150px; 
                display: block; margin: 0 auto; position: relative; z-index: 1;
                width: var(--iconMainSize); height: calc(var(--iconMainSize) - 60px);
                @media (min-width: $sm) {
                    --iconMainSize: 200px;
                }
                @media (min-width: $md) {
                    --iconMainSize: 300px;
                }
                &:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; filter: blur(80px); }
                svg, i {
                    z-index: 1; position: relative; width: 100%; height: 100%;
                }

                @media (max-height: 600px) {
                    --iconMainSize: 120px; margin-top: 0;
                }
            }
            h1 {
                line-height: 1; text-align: center; display: inline-flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin: 0; padding: 15px 0 0;
                &:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; filter: blur(40px); }
                > span { 
                    font-size: 34px; font-weight: 600; position: relative; z-index: 1; 
                    &:first-child { color: var(--logo-color-1); }
                    &:last-child { margin-inline-start: 9px; color: var(--logo-color-2); letter-spacing: 9px; }
                }
                @media (min-width: $md) {
                    flex-direction: row;
                    > span { 
                        font-size: 36px; 
                        &:last-child { letter-spacing: normal; }
                    }
                }
            }
            #site-description {
                text-transform: none; color: var(--logo-color-2); position: relative; z-index: 2; font-size: var(--font-size-secondary); padding: 10px 0 10px;
                @media (min-width: $sm) {
                    padding-bottom: 50px;
                }
                span { display: block; line-height: 1.2; }
                br { 
                    @media (min-width: $sm) {
                        display: none;
                    }
                }
            }
            #welcome-sections {
                display: flex; width: 100%; flex-wrap: wrap; justify-content: center; align-items: center; position: relative; z-index: 1;
                &::after {
                    content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; filter: blur(40px); z-index: 0;
                }

                > * {
                    padding: 10px; text-align: center; color: #fff; text-decoration: none; background-color: var(--logo-color-2);
                    transition: all var(--transition-time) var(--transition-ease); position: relative; z-index: 1; border: 7px solid transparent; background-clip: padding-box; display: flex; align-items: center; justify-content: center; flex-direction: column; position: relative; z-index: 2;
                    --homeSectionSize: 145px;
                    width: var(--homeSectionSize); height: calc(var(--homeSectionSize) - 40px);

                    .icon-home-section {
                        --icon-home-section-size: 30px; margin-bottom: 15px; fill: #fff;
                        width: var(--icon-home-section-size); height: var(--icon-home-section-size); font-size: var(--icon-home-section-size); transition: var(--transition-all);
                    }

                    .icon-label {
                        fill: #fff; width: 16px; height: 16px; position: relative; top: 1px; margin-inline-start: 10px;
                    }

                    .home-section-title, .home-section-title-icon { font-size: 16px; }
                    .home-section-title { display: inline-block; line-height: 1; }
                    .home-section-title-icon { margin-inline-start: 10px; position: relative; top: 4px; color: var(--logo-color-1); transition: var(--transition-all); }

                    @media (min-width: $sm) {
                        --homeSectionSize: 180px;
                        .home-section-title, .home-section-title-icon { font-size: 20px; }
                    }
                    @media (min-width: 780px) {
                        --homeSectionSize: 230px; height: calc(var(--homeSectionSize) - 80px);
                    }
                    @media (min-width: $md) {
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                    @media (min-width: $lg) {
                        --homeSectionSize: 240px;
                        .icon-home-section { --icon-home-section-size: 50px; margin-bottom: 30px; }
                        .home-section-title, .home-section-title-icon { font-size: 26px; }
                    }
                    @media (min-width: $xl) {
                    }

                    &:hover {
                        background-color: var(--logo-color-1);
                        .home-section-title-icon { color: #fff; }
                    }

                    @media (max-height: 600px) {
                        height: 90px;
                        .icon-home-section { margin-bottom: 10px; }
                    }
                }

                .section-disabled {
                    opacity: .5;
                    &:hover { 
                        transform: none; cursor: default; background-color: var(--logo-color-2); 
                    }
                }

                @media (min-width: $md) {
                    max-width: 700px; margin: 0 auto;
                }
                @media (min-width: $lg) {
                    max-width: 800px;
                }
                @media (min-width: 1500px) {
                    max-width: 100%;
                }
            }
            #welcome-links {
                a {
                    display: inline-flex; align-items: center; text-decoration: none; padding-bottom: 2px; margin: 0 calc(var(--spacing) / 2); border-bottom: 2px solid #fff;
                    i, svg { margin-inline-end: 5px; }
                    span {  }
                }
            }
        }
    }
}

.is-homepage {
    header {
        #headerMain { /* background-color: transparent !important; */ box-shadow: none; }
        #header-logo { display: none; }
        // .header-btn {
        //     position: relative;
        //     svg, i { position: relative; z-index: 1; }
        //     &::after {
        //         content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; filter: blur(22px); z-index: 0;
        //     }
        //     &#header-donation {
        //         margin-inline-end: auto; padding-inline-start: 15px;
        //     }
        // }
    }
    main {
        padding-bottom: 0;
    }
    footer {
        opacity: 0;
        visibility: hidden;
    }
}

html[data-theme="light"] {
    .is-homepage {
        header {
            .header-btn {
                &::after {
                    background-color: #fff;
                }
            }
        }
    }
}

html[data-theme="dark"] {
    #home {
        #welcome {
            &.full-img {
                background-color: var(--color-primary);
                &::after { background: linear-gradient(to top, #000 0%, #000 15%, #00000055 67%); }
            }
            .section-content {
                h1, .icon-home-main, #welcome-sections {
                    &:after { background-color: transparent; }
                }
                h1 {
                    span {
                        color: #fff;
                    }
                }
                #site-description { color: #fff; }
            }
        }
    }
}

html[lang="he"] {
    #home {
        #welcome {
            .section-content {
                #welcome-sections > * {
                    .icon-label {
                        transform: scaleX(-1);
                    }
                }
                h1 {
                    > span {
                        font-size: 50px; font-weight: 400;
                        @media (min-width: $md) {
                            font-size: 50px; font-weight: 400;
                        }
                        &:last-child {
                            margin: -10px 0 0;
                            letter-spacing: normal;
                            @media (min-width: $md) {
                                margin : 0;
                                margin-inline-start: 10px;
                            }
                        }
                    }
                }
                #site-description {
                    span { line-height: 1; }
                }
            }
        }
    }
}
