header {
    top: 0;
    background-color: var(--primaryColor);
    transition: all var(--transitionTime) var(--transitionEase);

    svg { 
        &, * {
            color: #fff; fill: #fff; 
        }
    }
    .st0, .st1 { fill: #fff; }

    .mdc-top-app-bar__title { 
        padding-inline-start: 10px; 
        a {
            text-transform: uppercase; color: #fff; text-decoration: none;
        }
    }

    #mainMenuBtn {
        display: none;
        @media (min-width: $sm) {
            display: inline-block;
        }
    }

    .mdc-top-app-bar__title {
        display: none;
        @media (min-width: $sm) {
            display: block;
        }
    }

    .lang-name {
        width: 20px; margin-inline-start: -10px;
        &::after {
            content: "FR"; 
            color: #fff; opacity: 1; background-color: transparent; font-family: 'Roboto', sans-serif; font-size: 14px;
            display: flex; align-items: center; justify-content: flex-start; padding-top: 11px; font-weight: 600;
        }
    }
}
.dark {
    header {
        background-color: #222;
    }
}
html[lang="he"] {
    header {
        .lang-name {
            &::after {
                content: "ע"; font-size: 18px;
            }
        }
    }
}
