header {
    top: 0;
    background-color: var(--primaryColor);
    transition: all var(--transitionTime) var(--transitionEase);

    svg { 
        &, * {
            color: #fff; fill: #fff; 
        }
    }
    .st0, .st1 { fill: #fff; }

    .mdc-top-app-bar__title { 
        padding-inline-start: 10px; 
        a {
            text-transform: uppercase; color: #fff; text-decoration: none;
        }
    }

    #mainMenuBtn {
        display: none;
        @media (min-width: $sm) {
            display: inline-block;
        }
    }

    .mdc-top-app-bar__title {
        display: none;
        @media (min-width: $sm) {
            display: block;
        }
    }
}
.dark {
    header {
        background-color: #222;
    }
}