header {
    top: 0;
    background-color: #fff;
    color: var(--logo-color-1);
    transition: all var(--transitionTime) var(--transitionEase);
    box-shadow: var(--box-shadow);

    #siteTitle1 { color: var(--logo-color-1); margin-inline-end: 5px; }
    #siteTitle2 { color: var(--logo-color-2); }

    .mdc-top-app-bar__section:first-child { padding-inline-start: 8px; }

    .logo-icon-container { 
        padding: 0; 

        svg, i { width: 48px; height: 48px; }
    }

    svg { 
        &, * {
            color: #fff; fill: #fff; 
        }
    }
    .st0, .st1 { fill: #fff; }

    .mdc-top-app-bar__title { 
        font-family: var(--font-family);
        padding-inline-start: 10px; 
        a {
            text-transform: uppercase; color: #fff; text-decoration: none;
        }
    }

    #mainMenuBtn {
        // display: none;
        // @media (min-width: $sm) {
        //     display: inline-block;
        // }
    }

    .mdc-top-app-bar__title {
        display: none;
        @media (min-width: $sm) {
            display: block;
        }
    }

    .lang-name {
        width: 20px; margin-inline-start: -10px;
        &::after {
            content: "FR"; 
            opacity: 1; background-color: transparent; font-family: 'Montserrat', sans-serif; font-size: 14px;
            display: flex; align-items: center; justify-content: flex-start; padding-top: 11px; font-weight: 600;
        }
    }
}
html[data-theme="dark"]{
    header {
        background-color: #222; color: #fff; 
        #siteTitle1, #siteTitle2 { color: #fff; }
        .st0, .st1 { color: #fff; fill: #fff; }
    }
}
html[lang="he"] {
    header {
        .lang-name {
            &::after {
                content: "ע"; font-size: 18px;
            }
        }
    }
}
