$mdc-theme-primary: #1e88e5;
// $mdc-theme-on-primary: #0d47a1;
// $mdc-theme-secondary: #E65100;
// $mdc-theme-on-secondary: #442C2E;
// $mdc-theme-surface: #FFFBFA;
// $mdc-theme-on-surface: #442C2E;
// $mdc-theme-background: #FFFFFF;
// $mdc-theme-on-background: #442C2E;

$xs: 0;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

:root {
    --xs: 0;
    --sm: 600px;
    --md: 960px;
    --lg: 1280px;
    --xl: 1920px;

    --spacing: 15px;
    --transitionTime: .2s;
    --transitionTime2: .5s;
    --transitionEase: ease-in-out;
    --transitionAll: all var(--transitionTime) var(--transitionEase);

    --primaryColor: #1e88e5;
    --primaryColorRgb: 30, 136, 229;
    --bgColor: #fff;
    --txtColor: #333;
    --bgColor2: #fff;
    --txtColor2: #333;

    --font-size: 20px;
    --font-weight: 400;
    --line-height: 32px;

    // --headerHeight: 60px;
    // --footerHeight: 70px;

    @media (min-width: $sm) {
        --spacing: 30px;        
        // --headerHeight: 64px;
    }
}

.dark {
    --primaryColor: #111;
    --bgColor: #111;
    --txtColor: #eee;
    --bgColor2: #333;
    --txtColor2: #eee;
}
