@import "~material-components-web/material-components-web";

@import "@/assets/style/_cards";
@import "@/assets/style/bootstrap-snippets";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,700&display=swap');


.st0 { fill: var(--logo-color-2); }
.st1 { fill: var(--logo-color-1); }
.st2 { fill: #002A74; }


@keyframes fabAppear {
    0%   { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}
@keyframes fabDisappear {
    0%   { opacity: 1; transform: scale(1);}
    100% { opacity: 0; transform: scale(0); }
}



/* General */
*, *:before, *:after { box-sizing: border-box; }
html { font-family: var(--font-family); }
body { margin: 0; color: var(--txtColor); background-color: var(--bgColor); font-size: var(--font-size); font-weight: var(--font-weight); line-height: var(--line-height); }
#app { height: 100vh; }

/* Order */
#status         { z-index: 200; }
#refresh-button { z-index: 100; }
#mainNav        { z-index: 20; }
#mainMenuFab    { z-index: 10; }
header          { z-index: 9 !important; }
footer          { z-index: 7; }
#loading        { z-index: 5; }
.overlay        { z-index: 3; }
/* END Order */

.fade-enter-active, .fade-leave-active { transition: opacity .2s ease; }
.fade-enter, .fade-leave, .fade-leave-to, .fade-leave-active { opacity: 0; }

.site-container { display: flex; flex-direction: column; align-items: stretch; min-height: 100%; color: var(--txtColor); background-color: var(--bgColor); transition: color var(--transitionTime) var(--transitionEase), background-color var(--transitionTime) var(--transitionEase); }

.overlay { position: fixed; width: 100vw; height: 100vh; top: 0; left: 0; visibility: hidden; opacity: 0; transition: opacity var(--transitionTime) var(--transitionEase); background-color: rgba(#000, .33) }
.drawer-opened .overlay { opacity: 1; visibility: visible; }

.icon-perso {
    height: 24px; width: 24px;
  }

.container { padding: 0 var(--spacing); }
a:not(.link-design):not(.nav-grid-item):not(.drive) {
    color: var(--txtColor);
    text-decoration: none;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 6px), var(--logo-color-1-trans) calc(50% - 6px), var(--logo-color-1-trans) 100%);
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;

    &:hover {
        background-position: 0 100%;
    }
}

a.link-design, .nav-grid-item, .drive, #welcome-sections > a {
    background-image: none;
}

.page-title-container {
    position: relative; background: no-repeat center/cover; margin-bottom: 50px;
    figure { display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: no-repeat center/cover; }
    .container {
        padding-top: 130px; padding-bottom: 70px; display: flex; justify-content: center; z-index: 1; position: relative;
    }
    // #page-title -> h1
    #page-title {
        font-size: 26px; margin: 0; color: #fff; line-height: 1.2; font-weight: 400; text-transform: uppercase; text-align: center; display: inline-flex; padding: var(--spacingSm) var(--spacing);
        background-color: var(--logo-color-2-trans);
        @media (min-width: $sm) {
            font-size: 30px;
        }
        @media (min-width: $md) {
            font-size: 40px; padding: var(--spacingSm) 60px;
        }
    }
}

#page-details {
    padding-inline-start: 10px;
    border-inline-start: 10px solid var(--logo-color-1-trans);
    font-size: 16px;
    margin-block-end: var(--spacing);
}

#page-author { font-style: italic; }

#page-content {
    a { word-break: break-all; }
    &, p {
        text-align: justify;
    }
    h2, h3, h4 { text-align: left; }
    h2 { font-size: 30px; }
    ol, ul {
        li {
            text-align: start;
        }
    }
}

blockquote {
    --blockquote-before-horiz-pos: -20px;
    --blockquote-before-vert-pos: 140px;
    --blockquote-after-horiz-pos: 20px;
    --blockquote-after-vert-pos: -70px;
    margin: 0;
    margin-inline-start: var(--spacing);
    margin-block-start: var(--spacing);
    margin-block-end: var(--spacing);
    padding-inline-start: var(--spacing);
    padding-block-start: var(--spacing);
    padding-block-end: var(--spacing);
    border-inline-start: 10px solid var(--primaryColorTrans);
    font-style: italic;
    position: relative;

    &::before, &::after {
        position: absolute;
        font-size: 400px;
        color: #5cb3f555;
    }
    &::before {
        content: "\0201C";
        top: var(--blockquote-before-vert-pos);
        left: var(--blockquote-before-horiz-pos);
    }
    &::after {
        content: "\0201D";
        bottom: var(--blockquote-after-vert-pos);
        right: var(--blockquote-after-horiz-pos);
    }
}

.blockquote-author { font-size: 16px; display: block; margin-block-start: 15px; font-weight: 600; font-style: initial; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: var(--spacing);
}

figure { margin: 0; }
figcaption { padding: 0; }
/* END general */



#status { 
    display: none; width: 100vw; position: fixed; top: var(--headerHeight); background-color: rgba(198, 40, 40, 0.95); line-height: 1.2; text-align: center !important; left: 0; padding: 10px; color: #fff; transition: var(--transitionAll); direction: ltr; font-size: var(--font-size-secondary); font-weight: 300;
    &.offlineLoad { 
        display: block; background-color: rgba(198, 40, 40, 0.95);
    }
    &.online { 
        display: block; background-color: rgba(#388E3C, 0.95); opacity: 0;
        animation-name: backOnline; animation-duration: 2s; animation-delay: 0; animation-fill-mode: forwards; ; 
    }
    &.offline { 
        display: block; background-color: rgba(198, 40, 40, 0.95); opacity: 0;
        animation-name: backOffline; animation-duration: 0.5s; animation-fill-mode: forwards; 
    }
    .online, .offline { display: none; }
    &.online .online, &.offline .offline { display: block; }
}
@keyframes backOnline {
    0%   { opacity: 0; display: block; z-index: 1; }
    20%   { opacity: 1; }
    80%   { opacity: 1; }
    99% { display: block; z-index: 1; }
    100% { opacity: 0; display: none; z-index: -1; }
}
@keyframes onlineAppear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes backOffline {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}



#refresh-button { position: fixed; width: 100vw; left: 0; top: var(--headerHeight); background: #388e3cee; color: #fff; padding: 10px 5px; border: none; box-shadow: none; transition: var(--transitionAll); text-align: center; }
.scrolling-down, {
    #refresh-button, #status { top: 0; }
}
.is-homepage, .drawer-opened {
    #status, #refresh-button { top: auto; bottom: 0; }
}



.top-site {
    header, footer, #mainMenuFab { background-color: transparent; }
}
.scrolling-down {
    header .mdc-top-app-bar { 
        top: calc(var(--headerHeight) * -1); 
    }
    footer { 
        #footerTabs {
            bottom: calc(var(--footerHeight) * -1 - 10px);
        }
    }
    #fab-menu { animation-name: fabDisappear; }
}
#mainMenuBtn, #mainMenuFab > span { transition: var(--transitionAll); }
.drawer-opened {
    #mainNav {
        left: 0;
        opacity: 1;
        display: block;
    }
    header .mdc-top-app-bar { top: 0; }
    footer { bottom: 0; }
    #mainMenuBtn, #mainMenuFab > span {
        transform: rotate(45deg);
    }
}



main {
    position: relative; flex: 1; display: flex; align-items: stretch; padding-bottom: var(--footerHeight);
    .page-container { 
        flex: 1; position: relative; max-width: 100vw;
        // > div:first-child { 
        //     position: absolute; width: 100%; min-height: 100%; top: 0; left: 0; padding: 0; color: var(--txtColor); background-color: var(--bgColor); 
        //     transition: all var(--transitionTime) var(--transitionEase);
        //     > :first-child { padding-top: var(--headerHeight); }
        //     > :last-child { padding-bottom: var(--footerHeight); }
            // > .container { min-height: calc(100vh - (var(--headerHeight) + var(--footerHeight))); }
            // &:after {
            //     content: '© LightWolf Studios';
            //     text-align: center;
            //     display: block;
            //     width: 100%;
            //     padding: var(--spacing);
            //     background-color: rgba(#fff, 1);
            // }
        // }
    }
    .display-switch-container {
        display: flex; justify-content: flex-end; text-align: center;
        .display-switch { display: inline-flex; justify-content: center; }
        .display-choice { flex: 1; padding: var(--spacingSm) var(--spacingSm); }
        svg, i {
            fill: var(--txtColor); width: 40px; height: 40px; cursor: pointer;
            &.icon-list { width: 60px; height: 60px; position: relative; top: -10px; }
        }
    }
}

#maintenance {
    display: flex;
    position: fixed;
    top: 0;
    margin-inline-start: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: var(--mdc-theme-primary);
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    padding: 30px;
    text-align: center;
}

iframe, .google-drive {
    width: 100%;
    height: 500px;
    max-height: calc(100vh - 200px);
    background-color: #fff;
    border: 1px solid var(--txtColor);
}
.google-drive-folder {
    
}
.google-drive-file {

}
#table-taamim-emeth {
    border: 1px solid var(--txtColor);
    border-collapse: collapse;
    th, td {
        border: 1px solid var(--txtColor);
        padding: 4px 6px;
        text-align: center;
        font-size: 30px;
    }
}

.he-prayer {
    direction: rtl;
    text-align: right !important;
    font-size: 34px;
    line-height: 1.4;
}
.he-prayer-centered {
    margin: 0 auto;
    text-align: center !important;
    max-width: 500px;
}
#gtx-trans {
    display: none;
}


html[data-theme="light"] {
    .dark-block { display: none !important; }
}
html[data-theme="dark"] {
    .st0 { fill: #fff; }
    .st1 { fill: #fff; }
    .st2 { fill: #fff; }
    .dark-block { display: none !important; }
    iframe, .google-drive {
        // background-color: #000;
        .flip-list-view .flip-entry:hover {
            background-color: #333;
        }
        .flip-list-view .flip-entry-title {
            color: #fff;
        }
        .flip-list-view .flip-entry-last-modified {
            color: #fff;
        }
    }
}



html:not([lang="he"]) {
    .lang-he {
        display: none !important;
    }
}
/* RTL */
html[lang="he"] {
    direction: rtl;
    .lang-fr { display: none !important; }
    .material-icons { direction: rtl; }
    .mdc-list-item__graphic { margin-right: 0; }
    em { font-style: oblique; }

    #page-title, .card .card-text .card-title, h1, h2, h3 {
        font-family: var(--font-family-title);
    }

    #page-title {
        font-size: 30px; line-height: 1;
        @media (min-width: 400px) {
            font-size: 34px;
        }
        @media (min-width: $md) {
            font-size: 44px;
        }
    }

    #page-content {
        h2, h3, h4 { text-align: right; }
        h2 { font-size: 34px; }
    }
    blockquote {
        &::before, &::after { font-family: 'MontSerrat', sans-serif; }
        &::before { content: "\0201D"; top: 140px; left: auto; right: 30px; }
        &::after { content: "\0201C"; right: auto; left: -10px; }
    }
    .he-adjust, #page-title .lang, #page-title .lang-he, #mainNav .mdc-list a .lang-he {
        position: relative; top: 3px;
    }
    #mainNav .mdc-list a:not(.char-latin) span {
        font-size: 34px;
    }
    #home #welcome .section-content #welcome-sections > * .home-section-title { 
        font-size: 20px; 
        @media (min-width: $sm) {
            font-size: 24px;
        }
        @media (min-width: $lg) {
            font-size: 30px;
        }
    }

    .card .card-text .card-title {
        font-size: 26px;
    }
    footer .mdc-tab__text-label {
        font-size: 18px;
        > span { display: block; height: 14px; position: relative; top: -5px; }
    }

    .char-latin, #english {
        &, * {
            direction: ltr !important;
            text-align: left !important;
            font-family: 'Montserrat', sans-serif !important;
        }
        h1 { 
            font-size: 40px; 
            .lang { position: static; }
        }
        h2 { font-size: 30px; }
        p { text-align: justify !important; font-size: 20px; }
    }
}

// Fixes for mobile phones in landscape, from Pixel 2X and lower
@media (max-width: 823px) and (orientation: landscape) {

    // General
    .container { max-width: 100% !important; }

    // Home
    #home #welcome .section-content .icon-home-main { --iconMainSize: 100px !important; margin-top: 0 !important; }
    #home #welcome .section-content h1 { flex-direction: row !important; padding-top: 10px !important; }
    html[lang="he"] #home #welcome .section-content h1 > span { font-size: 40px !important; }
    html[lang="he"] #home #welcome .section-content h1 > span:last-child { margin: 0 !important; margin-inline-start: 9px !important; }
    #home #welcome .section-content #site-description { 
        padding: 0 0 10px !important; 
        br { display: none; }
    }

    // Menu
    header #mainNav nav { max-width: 568px !important; /* iphone 5 */ }
    header #mainNav nav a { 
        flex: 25% !important; height: 110px !important; padding: 5px !important; 
        i, svg { margin-bottom: 0 !important; }
    }

    // Category
    .page-title-container .container { padding-top: 100px; padding-bottom: 40px; }
    .grid-container { grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important; grid-gap: 15px !important; }
    .card .card-img { min-height: 130px !important; }
    .card .card-text { height: 60px !important; }
    .card .card-text .card-title { line-height: 1 !important; font-size: 18px; }

    // Footer
    footer #footerTabs .mdc-tab-bar .mdc-tab__content { display: flex !important; }
    footer #footerTabs .mdc-tab-bar .mdc-tab__icon { margin-bottom: 0 !important; margin-inline-end: 10px !important; }

    html[lang="he"] {
        .card .card-text .card-title { font-size: 22px !important; }
    }
}
