@import "~material-components-web/material-components-web";

@import "@/assets/style/_global";
@import "@/assets/style/_cards";
@import "@/assets/style/_page";
@import "@/assets/style/bootstrap-snippets";

// @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700,900&display=swap');



.st0 { fill: #0B7EC2; }
.st1 { fill: #0DB3E7; }



@keyframes fabAppear {
    0%   { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}
@keyframes fabDisappear {
    0%   { opacity: 1; transform: scale(1);}
    100% { opacity: 0; transform: scale(0); }
}

.top-site {
    header, footer, #mainMenuFab { background-color: transparent; }
}
.scrolling-down {
    header { 
        top: calc(var(--headerHeight) * -1); 
    }
    footer { 
        #footerTabs {
            bottom: calc(var(--footerHeight) * -1);             
        }
    }
    #mainMenuFab { animation-name: fabDisappear; }
}
#mainMenuBtn, #mainMenuFab > span { transition: all .2s ease-in-out; }
.drawer-opened {
    #mainNav {
        left: 0;
        opacity: 1;
        display: block;
    }
    header { top: 0; }
    footer { bottom: 0; }
    #mainMenuBtn, #mainMenuFab > span {
        transform: rotate(90deg);
    }
}



main {
    position: relative; flex: 1; display: flex; align-items: stretch; padding-bottom: var(--footerHeight);
    .page-container { 
        flex: 1; position: relative;
        // > div:first-child { 
        //     position: absolute; width: 100%; min-height: 100%; top: 0; left: 0; padding: 0; color: var(--txtColor); background-color: var(--bgColor); 
        //     transition: all var(--transitionTime) var(--transitionEase);
        //     > :first-child { padding-top: var(--headerHeight); }
        //     > :last-child { padding-bottom: var(--footerHeight); }
            // > .container { min-height: calc(100vh - (var(--headerHeight) + var(--footerHeight))); }
            // &:after {
            //     content: '© LightWolf Studios';
            //     text-align: center;
            //     display: block;
            //     width: 100%;
            //     padding: var(--spacing);
            //     background-color: rgba(#fff, 1);
            // }
        // }
    }
}

#maintenance {
    display: flex;
    position: fixed;
    top: 0;
    margin-inline-start: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: var(--mdc-theme-primary);
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    padding: 30px;
    text-align: center;
}

iframe, .google-drive {
    width: 100%;
    height: 500px;
    max-height: calc(100vh - 200px);
    background-color: #fff;
}
.google-drive-folder {
    
}
.google-drive-file {

}
.dark {
    iframe, .google-drive {
        // background-color: #000;
        .flip-list-view .flip-entry:hover {
            background-color: #333;
        }
        .flip-list-view .flip-entry-title {
            color: #fff;
        }
        .flip-list-view .flip-entry-last-modified {
            color: #fff;
        }
    }
}


/* RTL */
html[lang="he"] {
    direction: rtl;
    .material-icons {
        direction: rtl;
    }
    .mdc-list-item__graphic {
        margin-right: 0;
    }
    .drawer-opened {
        #mainNav {
            left: auto;
            right: 0;
        }
    }
    #home #welcome .section-content h1 :first-child {
        font-size: 10vw;
        padding-inline-start: 0;
        padding-inline-end: var(--titleSpacing);
        line-height: 0.3;
    }
    #home #welcome .section-content h1 :last-child {
        font-size: 18vw;
    }
}
